$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;

$media-first: 1190px;
$media-second: 950px;
$media-third: 560px;
$media-fourth: 450px;
